<footer>
  <div class="container">
    <div class="row text-center">
      <small>
        <span><em>FoodPact</em> by Ashley Gingeleski</span>
      </small>
    </div>
    <div class="row text-center">
      <small>
        <span>Icons designed by <a href="https://www.flaticon.com/authors/freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/smashicons">Smashicons</a>, and <a href "https://www.flaticon.com/authors/prettycons">prettycons</a> from <a href "https://www.flaticon.com">Flaticon</a>.</span>
      </small>
    </div>
  </div>
</footer>