{% extends "_base.html" %}

{% block content %}

<div class="body-content">
    <div class="row">
        <h1>Calculator</h1>
    </div>
    {% if environmental_info_output is not none %}
    <div class="row">
        {{ environmental_info_output|safe }}
    </div>
    {% endif %}
    <div class="row">
        <form><!-- This will make an HTTP GET request with the info as query parameters -->
            <fieldset>
                <div class="form-group">
                    <label for="foodBuyLocationSelect">Where did you buy your food?</label>
                    <select class="form-control" id="foodBuyLocationSelect" name="food_location">
                    {% for food_location in food_locations|default(["Syracuse, NY","New York, NY"], true) %}
                        <option value="{{ loop.index }}">{{ food_location }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="foodSelect">What was the food?</label>
                    <select class="form-control" id="foodSelect" name="food_name">
                    {% for food_name in food_names|default(["Grapes","Wheat"], true) %}
                        <option value="{{ loop.index }}">{{ food_name }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="foodOriginLocationSelect">Do you know where it came from?</label>
                    <select class="form-control" id="foodOriginLocationSelect" name="food_origin">
                    {% for food_origin in food_origins|default(["Mexico","Aruba"], true) %}
                        <option value="{{ loop.index }}">{{ food_origin }}</option>
                    {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
