{% extends "_base.html" %}

{% block content %}

<div class="body-content">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Food you eat impacts the environment</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <p>It's hard to understand the environmental impact of everyday foods you eat. Where do you even start?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <img class="img-fluid" src="{{ url_for('static', filename='img/top_countries_food_imports.svg') }}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <img class="img-fluid" src="{{ url_for('static', filename='img/food_import_cat_totals.svg') }}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <img class="img-fluid" src="{{ url_for('static', filename='img/food_waste_2010.svg') }}">
    </div>
  </div>
</div>

{% endblock %}
