{% extends "_base.html" %}

{% block content %}

<div class="body-content">
  <div class="row">
    <h1>Welcome!</h1>
    <p>Explaining</p>
  </div>
  <div class="row">
    <!-- graph -->
    <img src="{{ url_for('static', filename='img/top_countries_food_imports.svg') }}">
  </div>
  <div class="row">
    <!-- graph -->
    <img src="{{ url_for('static', filename='img/food_import_cat_totals.svg') }}">
  </div>
  <div class="row">
    <!-- graph -->
    <img src="{{ url_for('static', filename='img/food_waste_2010.svg') }}">
  </div>
</div>

{% endblock %}
