{% extends "_base.html" %}

{% block content %}

<div class="body-content">
    <div class="row">
        <h1>Sources</h1>
    </div>
    <div class="row">
        Mekonnen, M.M. & Hoekstra, A.Y. (2011). The green, blue, and grey water footprints of crops and derived crop products. Hydrology and Earth System Sciences (15), 1577-1600. Retrieved from https://waterfootprint.org/media/downloads/Mekonnen-Hoekstra-2011-WaterFootprintCrops_2.pdf.
    </div>
    <div class="row">
        The President and Fellows of Harvard College. (2015). Country centroids [Data File]. Retrieved from https://worldmap.harvard.edu/data/geonode:country_centroids_az8.
    </div>
    <div class="row">
        USDA, Economic Research Service, 2010 ERS Loss-Adjusted Food Availability data as of Sept. 17, 2012,\nand the U.S. population on July 1, 2010 (309.75 million).
    </div>
    <div class="row">
        USDA, www.fas.usda.gov/gats
    </div>
</div>

{% endblock %}
