{% extends "_base.html" %}

{% block content %}

<div class="body-content">
    <div class="row">
        <h1>Sources</h1>
    </div>
    
    <div class="row">
        <p>BSR. Collaborative Progress: Clean Cargo Working Group Progress, 2013. Retrieved from <a style="font-weight:bold" href="https://www.bsr.org/en/our-insights/report-view/collaborative-progress-clean-cargo-working-group-progress-report-2013/collaborative-progress-clean-cargo-working-group-progress-report-2013">here</a>.</p>
    </div>
    
    <div class="row">
        <p>EPA SmartWay: Carrier Performance for Public Export, 2014. Retrieved from <a style="font-weight:bold" href="https://www.epa.gov/smartway/smartway-carrier-performance-ranking">here</a>.</p>
    </div>
    
    <div class="row">
        <p>EPA SmartWay: Shipper Partner Tool: Technical Documentation, 2013. Retrieved from <a style="font-weight:bold" href="https://nepis.epa.gov/Exe/ZyNET.exe/P100KH4M.TXT?ZyActionD=ZyDocument&Client=EPA&Index=2011+Thru+2015&Docs=&Query=&Time=&EndTime=&SearchMethod=1&TocRestrict=n&Toc=&TocEntry=&QField=&QFieldYear=&QFieldMonth=&QFieldDay=&IntQFieldOp=0&ExtQFieldOp=0&XmlQuery=&File=D%3A%5Czyfiles%5CIndex%20Data%5C11thru15%5CTxt%5C00000012%5CP100KH4M.txt&User=ANONYMOUS&Password=anonymous&SortMethod=h%7C-&MaximumDocuments=1&FuzzyDegree=0&ImageQuality=r75g8/r75g8/x150y150g16/i425&Display=hpfr&DefSeekPage=x&SearchBack=ZyActionL&Back=ZyActionS&BackDesc=Results%20page&MaximumPages=1&ZyEntry=1&SeekPage=x&ZyPURL">here</a>.</p>
    </div>
    
    <div class="row">
        <p>Mekonnen, M.M. & Hoekstra, A.Y. (2011). The green, blue, and grey water footprints of crops and derived crop products. Hydrology and Earth System Sciences (15), 1577-1600. Retrieved from <a style="font-weight:bold" href="https://waterfootprint.org/media/downloads/Mekonnen-Hoekstra-2011-WaterFootprintCrops_2.pdf">here</a>.</p>
    </div>
    
    <div class="row">
        <p>The President and Fellows of Harvard College. (2015). Country centroids [Data File]. Retrieved from <a style="font-weight:bold" href="https://worldmap.harvard.edu/data/geonode:country_centroids_az8">here</a>.</p>
    </div>
    
    <div class="row">
        <p>USDA, Economic Research Service, 2010 ERS Loss-Adjusted Food Availability data as of Sept. 17, 2012, and the U.S. population on July 1, 2010 (309.75 million).</p>
    </div>
    
    <div class="row">
        <p>USDA, www.fas.usda.gov/gats</p>
    </div>
</div>

{% endblock %}
